@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


:root {
    --cor0: #940707;
    --cor1: #d9d9d9;
    --cor2: #77b513;
    --cor3: #4a0000;
    --cor4: #ababab;
}




body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image:linear-gradient(to left, rgb(211, 210, 210) ,#7E7676, #5b5757);
    color: white;
}

td {
    border-radius: 5px;
    min-width: 100px;
    min-height: 20px;
}

button {
    width: 100%;
    height: 100%;
}

.center-table {
    display: flex;
    justify-content: center;
    color: black;
  }

.menu {
    background-image:linear-gradient(to left,black, #3a3939, black);
    background-repeat: no-repeat;
    height: 20%;
    color: white;
    padding-top: 50px;
    text-align: left;
    padding-left: 5%;
}

#item_menu {
    margin-left: 5px;
    color: white;
}

.container {
    text-align: center;
   
  
}

.box_a{
    display: inline-block;
    background-color: #f0f0f0;
    display: inline-block;
    border-radius: 5px;
    min-width: 35%;
    margin: 40px 2% 0px 0px;
    position: calc();
    padding: 10px;
}

.box_b{
    display: inline-block;
    background-color: #f0f0f0;
    display: inline-block;
    border-radius: 5px;
    min-width: 35%;
    margin: 40px 0px 0px 2%;
    padding: 10px;
    
}

a {
    text-decoration: none;
}


.input_msg {
    width: 30vw;
    border-radius: 5px;
    margin: 5px
}


footer {
    
    width: 100vw;
    text-align: center;
    position: absolute;
    bottom: 0;

    
}
.cor{
    background-image:linear-gradient(to left,black, #3a3939, black);
    background-repeat: no-repeat;
    line-height: 50px;
    color: white;
}

@media screen {
    
}